/* this is my css fil */
/* style of tags*/

html{
background: linear-gradient(#e66465, #9198e5);
   align-self:center;
   font-size: 20px;
font-family: 'Roboto', sans-serif;
}
/* ID Selector*/
#this-is-an-id{
  font-family: Arial;
  text-align: left;
  font-size: 20px;
}
H1{
  color:darkred;
  text-align: center;
}
H2{
  color: #800080;
  font-family: cursive;
font-size: 33px;
}
h3{
  color: #800080;
  font-family: cursive;
font-size: 33px;
}

h4{
  color: #800080;
  font-family: cursive;
font-size: 33px;
}

h5{
  color: #800080;
  font-family: cursive;
  font-size: 33px;
}

p {
  color: #000000;
  line-height: 24px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 70;
}
.content-box {
  width: 1500px;
  height: 70px;
  padding: 10px;
  border: 8px solid red;
  background: white;
}
h2,h3,h4,h5,{

}
