/* this is my css fil */
/* style of tags*/

html{
  background: repeating-linear-gradient(#ffffff,#800000);
   align-self:center;
   font-size: 20px;
}
H1{
  color:darkred;
  text-align: center;
}
H2{
  color: cornsilk
  font-family: cursive;
font-size: 33px;
}
h3{
  color: cornsilk
  font-family: cursive;
font-size: 33px;
}
h4{
  color: cornsilk
  font-family: cursive;
font-size: 33px;
}
h5{
  color: cornsilk;
  font-family: cursive;
  font-size: 33px;
}

p {
  color: #000000;
  line-height: 24px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 70;
}
